{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Sitio web de Fundación Ñande reko Ha" />
    <meta name="author" content="Fundación Ñande reko Ha" />
    <meta
      name="keywords"
      content="Fundación,Posadas,Misiones,sordos, discapacidad, inclusión, LSA, asesoramiento, ayuda, donar "/>
    <link
      rel="icon"
      href="{% static 'favicon.svg' %}"
    />
    
    <link rel="stylesheet" href="{% static 'landing/bootstrap.css' %}" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% if title %}
    <title>Fundación Ñande Reko Ha - {{ title }}</title>
    {% else %}
    <title>Fundación Ñande Reko Ha</title>
    {% endif %} 

  </head>
  <body id="page-top" class="container-100">
    <header class="site-header">

      
      <nav id="navbar" class="navbar navbar-expand-lg mb-4 pt-3 pb-3 text-dark border-bottom border-1 bg-light" data-bs-theme="light">
      <div class="container ">
        <a class="navbar-brand d-block fs-2 text-dark fw-bold pe-3 border-end border-1" href={% url 'landing-home' %}>
          <img
            src="{% static 'favicon.svg' %}"
            alt="Logo"
            width="60"
            height="40"
            class="d-none d-md-inline-block align-text-center"
          />
          Fundación Ñande Reko Ha
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span>
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
            >
            <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </span>
      </button>
      <div class="collapse text-dark navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a 
                class="nav-link active align-text-center  text-dark fs-5"
                aria-current="page"
                href={% url 'landing-home' %}
                >Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a
                class="nav-link text-dark dropdown-toggle align-text-center fs-5"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Sobre nosotros</a
              >
              <ul class="dropdown-menu ">
                <li>
                  <a class="dropdown-item" href="{% url 'landing-home' %}#mision">Misión</a>
                </li>
                
                <li>
                  <a class="dropdown-item" href="{% url 'landing-home' %}#objetivos">Objetivo</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'landing-home' %}#equipo">Equipo</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item disabled" href="#">Noticias</a>
                </li>
              </ul>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a 
                class="nav-link text-dark  active align-text-center fs-6"
                aria-current="page"
                href={% url "profile" %}
                >Mi perfil</a>
              </li>
            <li>
              <a class="nav-item ms-auto fs-6 btn btn-outline-dark  d-lg-none" href={% url 'logout' %} aria-current="true">Salir</a>
            </li>
          </ul>
        </div>
        <a class="nav-item ms-auto fs-6 btn btn-outline-dark d-none d-lg-block" href={% url 'logout' %} aria-current="true" >Salir</a>
      </div>
            {% else %}
            <li>
              <a class="nav-item ms-auto fs-5 btn btn-outline-dark  d-lg-none" href={% url 'login' %} aria-current="true">Ingresar</a>
            </li>
          </ul>
        </div>
        <a class="nav-item ms-auto fs-5 btn btn-outline-dark d-none d-lg-block" href={% url 'login' %} aria-current="true">Ingresar</a>
      </div>
      {% endif %}
    </nav>
  </header>
  <main>
	<div class="row">
		<div class="col">
			{% if messages %}
			  {% for message in messages  %}
			  <div class="alert alert-{{ message.tags }}">
				{{ message }}
			  </div>
			  {% endfor %}
			{% endif %}
		</div>
	</div>
    {% block content %}
    {% endblock content %}
  </main>
  </body>
  </html>
  